.virhe {
   /* @SuppressWarning */
   -fx-background-color: red;
 }
 
 .virhe2 {
   /* @SuppressWarning */
   -fx-background-color: red;
 }
 
 .virhe3 {
   /* @SuppressWarning */
   -fx-background-color: red;
 }
 
 .normaali {
   /* @SuppressWarning */
   -fx-background-color: white;
 }